* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --font-main: 'IBM Plex Mono';
    --font-heading: 'Raleway';
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-heading);
}

p, a {
    font-family: var(--font-main);
}



.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-section {
    background-color: #080808;
}

.navigation {
    flex-direction: row;
    background-color: #1B1B1B;
    height: 70px;
    margin: 0 6.6% 150px;
    border-radius: 0 0 8px 8px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    
}

.nav-links {
    gap: 70px;
    margin-right: 95px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #9C9C9C;
}

.social-icons {
    gap: 25px;
}

.hero {
    flex-direction: row;
    margin: 50px 14%;
    gap: 32px;
}

.column1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 60%;
}

.column1 .column1-content {
    max-width: 490px;
}
.column1 h1 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 10px;
}

.column1 p {
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
}

.column1 .get-started {
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    box-shadow: 0px 8px 30px 0px #3F8E0080;
    padding: 21px 64px;
    align-self: flex-start;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.column2 img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
}

.column2 {
    flex: 1;
    max-width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.collabs {
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
}

.collabs p {
    color:#FFFFFF;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}

.brands {
    flex: 1;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.brand-logo {
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    width: 160px;
    height: 60px;
}

.case-studies {
    margin: 0px 13.75% 80px 16.25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case-studies p {
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.intro-text {
    flex-direction: column;
    width: 570px;
    text-align: center;
    margin-bottom: 60px;
}

.intro-text h3 {
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 10px;
}

.case-study {
    display: flex; 
    flex-direction: row;
    margin-bottom: 80px;
}

.case-study-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 80px;
    gap: 32px;
}

.case-study-column1 {
    display: flex;
    flex-direction: column;
}

.case-study .fintech {
    background-color: #FFF6E9;
    border-radius: 60px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    padding: 0px 10px;
    margin-bottom: 20px;
    letter-spacing: 0.01em;
    color: #FFA217;
    align-self: flex-start;
}

.case-study-reverse .edtech {
    background-color: #D0E6FF;
    border-radius: 60px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    padding: 0px 10px;
    margin-bottom: 20px;
    letter-spacing: 0.01em;
    color: #000AFF;
    align-self: flex-start;
}

.case-study .pharma {
    background-color: #E0FFF8;
    border-radius: 60px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    padding: 0px 10px;
    margin-bottom: 20px;
    letter-spacing: 0.01em;
    color: #2AB090;
    align-self: flex-start;
}

.case-study .case-study-button1 {
    background-color: #FFA217;
    color: #FFFFFF;
    text-decoration: none;
    align-self: flex-start;
    padding: 10px 24px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 11.5px;
    line-height: 100%;
    box-shadow: 0px 2px 10px 0px #FFA217;
}

.case-study-reverse .case-study-button2 {
    background-color: #000AFF;
    color: #FFFFFF;
    text-decoration: none;
    align-self: flex-start;
    padding: 10px 24px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 11.5px;
    line-height: 100%;
    box-shadow: 0px 2px 10px 0px #000AFF;
}

.case-study .case-study-button3 {
    background-color: #2AB090;
    color: #FFFFFF;
    text-decoration: none;
    align-self: flex-start;
    padding: 10px 24px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 11.5px;
    line-height: 100%;
    box-shadow: 0px 2px 10px 0px #2AB090;
}

.case-study h4, .case-study-reverse h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 100%;
    margin-bottom: 10px;
}

.case-study p, .case-study-reverse p {
    margin-bottom: 40px;
}

.testimonials {
    background-color: #080808;
    padding: 80px 14%;
}

.intro-text-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text-testimonials h3 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0.01em;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.intro-text-testimonials p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #9C9C9C;
    margin-bottom: 60px;
}

.recommendations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.recommendations p {
    color: #9C9C9C;
}

.recommendation {
    position: relative;
    padding: 30px;
    border: 1px solid transparent;
    border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.18) 0%,   /* strong on the left */
      rgba(255, 255, 255, 0.18) 35%,  /* keep it solid for a bit */
      rgba(255, 255, 255, 0.10) 60%,  /* start softening */
      rgba(255, 255, 255, 0.04) 80%,  /* almost gone */
      rgba(255, 255, 255, 0.00) 100%  /* fully transparent on the right */
  ) 1;
}

.recommendation p {
    margin-bottom: 30px;
}

.quote-mark {
    position: absolute;
    top: -35px;
    left: 20px;
    font-size: 100px;
    font-weight: 400;
    color: #FFFFFF;
}

.client {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.client p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}

.client h4 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    vertical-align: bottom;
    color: #FFFFFF;
}