* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {

    /* Typeface */
    --font-main: 'IBM Plex Mono', monospace;
    --font-heading: 'Raleway', sans-serif;

    /* Colours */
    --button-green: #3F8E00;
    --button-teal: #2AB090;
    --button-blue: #000AFF;
    --button-orange: #FFA217; 
    --tag-bgcolor-fintech: #FFF6E9;
    --tag-text-fintech: #FFA217;
    --tag-bgcolor-edtech: #D0E6FF;
    --tag-text-edtech: #000AFF;
    --tag-bgcolor-pharma: #E0FFF8;
    --tag-text-pharma: #2AB090;

    --background-dark: #080808;

    --paragraph-color: #9C9C9C;
    --heading-color: #FFFFFF;
    --btn-text-color: #FFFFFF;

    --border-color-green: #62BA1B;

    /* Figma layout standard */
    --max-width: 1280px;
    --space-xl: 80px;
    --space-lg: 60px;
    --space-md: 40px;
    --space-sm: 20px;
    --space-xs: 10px;
    --testimonial-specific: 30px;

}

/* General layout */

.body {
    min-height: 100vh;
}

.container {
    max-width: var(--max-width);
    padding-inline: 6.6%;
    padding-bottom: 45px;
    margin: 0 auto;
}

.section {
    padding-block: var(--space-xl);
}

.section-dark {
    background-color: var(--background-dark);
}

.section-intro {
    max-width: 570px;
    margin-bottom: var(--space-lg);
}

.section-intro-center {
    text-align: center;
    margin-inline: auto;
}

.section-intro-title {
    font-family: var(--font-heading);
    font-weight: 800;
    font-size: 34px;
    margin-bottom: var(--space-xs);
}

.section-dark .section-intro-title {
    color: var(--heading-color);
}

.section-intro-text {
    font-size: 14px;
    line-height: 24px;
    color: var(--paragraph-color)
}

img {
    display: block;
    max-width: 100%;
}

/* Typography rules */

h1, h2, h2, h3, h5 {
    font-family: var(--font-heading);
}

p, a, label, input, textarea, span {
    font-family: var(--font-main);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Site buttons */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 700;
    color: var(--btn-text-color);
    cursor: pointer;
    border: 1px solid transparent;
}

.btn-hero {
    background-color: var(--button-green);
    border-color: var(--border-color-green);
    box-shadow: 0px 8px 30px 0px #3F8E0080;
    padding: 21px 64px;
}

.case-study .btn-orange {
    background-color: var(--button-orange);
    border: transparent; 
    padding: 10px 24px;
}

.case-study-reverse .btn-blue {
    background-color: var(--button-blue);
    border: transparent;
    padding: 10px 24px;
}

.case-study .btn-teal {
    background-color: var(--button-teal);
    border: transparent;
    padding: 10px 24px;
}

.work-example .btn-work {
    background-color: var(--button-green);
    border-color: var(--border-color-green);
    box-shadow: 0px 8px 30px 0px #3F8E0080;
    padding: 10px 24px;
}

/* Header and navigation */

.site-header {
    background-color: #080808;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    height: 70px;
    border-radius: 0 0 8px 8px;
    margin-bottom: var(--space-xl);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-right: 95px;
}

.nav-links a {
    color: #9C9C9C;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* Hero section */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.hero-content {
   max-width: 490px;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 44px;
    margin-bottom: var(--space-xs)
}

.hero-text {
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: var(--space-md)
}

.hero-image {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    object-fit: cover;
}

/* Collabs section */

.collabs {
    margin-top: var(--space-xl);
}

.collabs-label {
    color:#FFFFFF;
    margin-bottom: var(--space-sm);
    font-weight: 400;
    font-size: 14px;
}

.collabs-brands {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    width: 160px;
    height: 60px;
}

/* Case studies section */

.case-studies {
    padding-block: 80px;
}

.case-study {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: var(--space-xl);
}

.case-study-reverse {
    flex-direction: row-reverse;
}

.case-content {
    max-width: 490px;
}

.case-tag {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 60px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: var(--space-sm);
}

.case-tag-fintech {
    background: var(--tag-bgcolor-fintech);
    color: var(--tag-text-fintech);
}

.case-tag-edtech {
    background: var(--tag-bgcolor-edtech);
    color: var(--tag-text-edtech);
}

.case-tag-pharma {
    background: var(--tag-bgcolor-pharma);
    color: var(--tag-text-pharma);
}

.case-title {
    font-family: var(--font-heading);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: var(--space-sm);
}

.case-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;   
    color: #9C9C9C;
    margin-bottom: var(--space-md);
}
.case-media {
    flex: 1;
    display: flex;
    justify-content: right;
}

.case-study-reverse .case-media {
    justify-content: left;
}

/* Testimonials section */

.testimonials {
    padding-block: 80px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.testimonial-card {
    position: relative;
    padding: 30px;
    border: 1px solid transparent;
    border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.18) 0%,   /* strong on the left */
      rgba(255, 255, 255, 0.18) 35%,  /* keep it solid for a bit */
      rgba(255, 255, 255, 0.10) 60%,  /* start softening */
      rgba(255, 255, 255, 0.04) 80%,  /* almost gone */
      rgba(255, 255, 255, 0.00) 100%  /* fully transparent on the right */
  ) 1;
}

.quote-mark {
    position: absolute;
    top: -35px;
    left: 20px;
    font-size: 100px;
    font-weight: 400;
    color: #FFFFFF;
}

.testimonial-card-text {
    font-size: 14px;
    line-height: 24px;
    color: var(--paragraph-color);
    margin-bottom: var(--testimonial-specific);
    max-width: 90%;
}

.testimonial-card-client {
    display: flex;
    align-items: center;
    gap: 13px;
}

.testimonial-card-client img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.testimonial-card-name {
    font-family: var(--font-heading);
    font-size: 16px;
    font-weight: 700;
    color: var(--heading-color);
}

/* Recent work section */

.recent-work {
    padding-block: 80px;
    padding-inline: 95px;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.work-example {
    max-width: 445px;
}

.work-example img {
    border-radius: 6px;
    margin-bottom: var(--space-md);
}

.work-title {
    font-family: var(--font-heading);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: var(--space-sm);
}

.work-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: var(--space-sm);
}

/* Contact Form section */

.contact-form {
    background-color: #080808;
    padding: 80px 14%;
}

.contact-form-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form h2 {
    font-weight: 800;
    font-size: 34px;
    line-height: 100%;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: var(--space-sm);
    color: #FFFFFF;
}

.contact-form p {
    max-width: 570px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #9C9C9C;
    margin-bottom: var(--space-md);
}

.get-in-touch-form {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 12px 12px;
    border-radius: 8px;
    font-size: 1em;
}

/* Footer */

footer {
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    color: #9C9C9C;
}