* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --font-main: 'IBM Plex Mono';
    --font-heading: 'Raleway';
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
}

p, a {
    font-family: var(--font-main);
}



.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-section {
    background-color: #080808;
}

.navigation {
    flex-direction: row;
    background-color: #1B1B1B;
    height: 70px;
    margin: 0 6.6% 150px;
    border-radius: 0 0 8px 8px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    
}

.nav-links {
    gap: 70px;
    margin-right: 95px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #9C9C9C;

}

.social-icons {
    gap: 25px;
}

.hero {
    flex-direction: row;
    margin: 50px 10%;
    gap: 32px;
}

.column1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 60%;
}

.column1 .column1-content {
    max-width: 490px;
}
.column1 h1 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 10px;
}

.column1 p {
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
}

.column1 .get-started {
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    box-shadow: 0px 8px 30px 0px #3F8E0080;
    padding: 21px 64px;
    align-self: flex-start;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.column2 img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
}

.column2 {
    flex: 1;
    max-width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.collabs {
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
}

.collabs p {
    color:#FFFFFF;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}

.brands {
    flex: 1;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.brand-logo {
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    width: 160px;
    height: 60px;
}

.fa-brands {
    color: ;
}