* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --font-main: 'IBM Plex Mono';
    --font-heading: 'Raleway';
}

body {
    background-color: #080808;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: #1B1B1B;
    height: 70px;
    margin: 0 6.6% 150px;
    border-radius: 0 0 8px 8px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.nav-links {
    gap: 70px;
    margin-right: 95px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #9C9C9C;

}

.social-icons {
    gap: 25px;
}

.hero {
    flex-direction: row;
    margin: 50px 10%;
}



.column2 img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
}